$screen-xs-max: 767px

body
  padding-top: 70px

main
  img
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 100%

.highlight
  text-align: left

  pre
    word-wrap: normal

    code
      white-space: pre

@media screen and (max-width: $screen-xs-max)
  .site
    text-align: center
  
